* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}

#container1-star {
    height: 100vh;
    margin-left: 50px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#container1-star svg.star {
    width: 200px;
    height: 200px;
    stroke: rgb(255, 255, 255);
    stroke-width: 5;
    stroke-dashoffset: 0;
    stroke-dasharray: 1545;
    fill: none;
}

#container1-star .ico {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 99px;
    margin-top: -100px;
    opacity: 0;
}


#container2-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#container2-name svg.name {
    width: 1400px;
}

#container2-name svg.name path {
    stroke-width: 3;
    stroke: #fff;
}

#container2-name svg.name path.lastname-line {
    stroke: red;
}

#container2-name button.btn {
    border: none;
    background-color: transparent;
    font-size: 50px;
    color: #fff;
    border-bottom: 10px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
}

#container2-name .line {
    width: 1200px;
    stroke: rgb(255, 255, 255);
    stroke-width: 10;
    stroke-dashoffset: 0;
    stroke-dasharray: 1545;
}